In [8]:
import numpy as np
import pandas as pd

In [6]:
apply3=pd.read_csv("../../day6_matplotlib和项目/day6_matplotlib和项目/files/apply3.csv")
apply3
# 根据性别进行成绩排序
apply3['成绩等级']=apply3['成绩'].replace({"差":1,"及格":2,"优秀":3})
apply3
# apply3.sort_values(by=['性别','成绩等级'],ascending=False)
# 计算男女比例
apply3['性别'].value_counts()/apply3['性别'].count()
# 计算成绩分布，每个成绩段有多少人
apply3['成绩'].value_counts()

优秀    3
及格    3
差     2
Name: 成绩, dtype: int64

In [19]:
ca_list=pd.read_csv("../../day6_matplotlib和项目/day6_matplotlib和项目/files/案例一/ca_list_copy.csv",sep=",",engine='python',encoding='utf-8')
# set_index() 把某一列设置为行索引, reset_index() 把行索引转换成一列数据
# ca_list=ca_list.set_index("Id")
# ca_list.reset_index()
ca_list
# 对异常数据（数值为0）进行值替换，替换为当前列的平均值
avg=ca_list['zwyx'][ca_list['zwyx']!=0].mean() # 非0部分的均值
# ca_list['zwyx'][ca_list['zwyx']==0]=avg # 会引发一个链式赋值的报错SettingWithCopyWarning 
ca_list.loc[ca_list['zwyx']==0,"zwyx"]=avg # 使用loc 先取行,后取列, 取值是放在一个整体的,就能解决这个警告
ca_list

# 对zwyx列的数据进行平均值统计，其他列做计数统计（提示使用value_counts()）；
ca_list['zwyx'].mean()
ca_list['dd'].value_counts()
ca_list['xl'].value_counts()


# 得到zwmc字段的唯一值列表
ca_list['zwmc'].unique()


# 通过group函数，实现对于dd字段的分组，并按照城市计算每个城市的最大薪资
# ca_list.groupby("dd")['zwyx'].max().sort_values(ascending=False).head(10)

array(['数据分析师', '中/高级数据分析师', '6k聘金融数据分析师/助理/交易分析师（五险双休', ...,
       '资金管理人/数据分析师/双休五险/朝九晚五', '大数据分析，分析师助理，薪资4500+，晋升空间大，双休',
       '数据统计/数据分析师 双休不累有保障'], dtype=object)

In [21]:
data1=pd.read_csv("../../day6_matplotlib和项目/day6_matplotlib和项目/files/案例二/census/census.csv",engine='python',encoding='utf-8',sep=",")
data1

# 以每个州人口最多的 3 个县的人口总和为这个州人口的衡量标准，哪 3 个州人口最多？
def f1(x):
    return x['CENSUS2010POP'].sort_values(ascending=False).head(3).sum()  #每个州的人口最多的三个县的人口和
data1.groupby("STNAME").apply(f1).sort_values(ascending=False).head(3)


# 在 2010 年至 2012 年间人口平均量是怎么样的
data1.loc[:,"POPESTIMATE2010":'POPESTIMATE2012'].sum().pct_change()


# 在 2010 年至 2015 年间人口变化幅度最大的是哪个县
max_index=data1.loc[:,"POPESTIMATE2010":'POPESTIMATE2015'].var(axis=1).sort_values(ascending=False).head(1).index.values[0]
data1.loc[max_index,'CTYNAME']

# data1.set_index("CTYNAME").loc[:,"POPESTIMATE2010":'POPESTIMATE2015'].var(axis=1).sort_values(ascending=False).head(5)

# data1.groupby("STNAME")['CENSUS2010POP'].sum()

# 数据透视表 pivot_table
# pd.pivot_table(data1,values=["CENSUS2010POP",'POPESTIMATE2011','POPESTIMATE2012'],index="STNAME",aggfunc="sum")

POPESTIMATE2010         NaN
POPESTIMATE2011    0.007668
POPESTIMATE2012    0.007647
dtype: float64

In [32]:
# 案例三
user=pd.read_csv("../../day6_matplotlib和项目/day6_matplotlib和项目/files/案例三/ml-1m/users.dat",sep="::",engine="python",names=['uid','sex','age','job','zipCode'])
user
movie=pd.read_csv("../../day6_matplotlib和项目/day6_matplotlib和项目/files/案例三/ml-1m/movies.dat",sep="::",engine="python",names=['mid','title','Genres'])
movie
rating=pd.read_csv("../../day6_matplotlib和项目/day6_matplotlib和项目/files/案例三/ml-1m/ratings.dat",sep="::",engine="python",names=['uid','mid','rating','timestamp'])
rating
rating['uid']=rating['uid'].astype('uint16')
rating['mid']=rating['mid'].astype('uint16')
rating['rating']=rating['rating'].astype('uint8')
rating['timestamp']=rating['timestamp'].astype('uint32')
rating.info()
rating

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
uid          1000209 non-null uint16
mid          1000209 non-null uint16
rating       1000209 non-null uint8
timestamp    1000209 non-null uint32
dtypes: uint16(2), uint32(1), uint8(1)
memory usage: 8.6 MB

          uid   mid  rating  timestamp
0           1  1193       5  978300760
1           1   661       3  978302109
2           1   914       3  978301968
3           1  3408       4  978300275
4           1  2355       5  978824291
5           1  1197       3  978302268
6           1  1287       5  978302039
7           1  2804       5  978300719
8           1   594       4  978302268
9           1   919       4  978301368
10          1   595       5  978824268
11          1   938       4  978301752
12          1  2398       4  978302281
13          1  2918       4  978302124
14          1  1035       5  978301753
15          1  2791       4  978302188
16          1  2687       3  978824268
17          1  2018       4  978301777
18          1  3105       5  978301713
19          1  2797       4  978302039
20          1  2321       3  978302205
21          1   720       3  978300760
22          1  1270       5  978300055
23          1   527       5  978824195
24          1  2340       3  978300103
25          1    48       5  978824351
26          1  1097       4  978301953
27          1  1721       4  978300055
28          1  1545       4  978824139
29          1   745       3  978824268
...       ...   ...     ...        ...
1000179  6040  2762       4  956704584
1000180  6040  1036       3  956715455
1000181  6040   508       4  956704972
1000182  6040  1041       4  957717678
1000183  6040  3735       4  960971654
1000184  6040  2791       4  956715569
1000185  6040  2794       1  956716438
1000186  6040   527       5  956704219
1000187  6040  2003       1  956716294
1000188  6040   535       4  964828734
1000189  6040  2010       5  957716795
1000190  6040  2011       4  956716113
1000191  6040  3751       4  964828782
1000192  6040  2019       5  956703977
1000193  6040   541       4  956715288
1000194  6040  1077       5  964828799
1000195  6040  1079       2  956715648
1000196  6040   549       4  956704746
1000197  6040  2020       3  956715288
1000198  6040  2021       3  956716374
1000199  6040  2022       5  956716207
1000200  6040  2028       5  956704519
1000201  6040  1080       4  957717322
1000202  6040  1089       4  956704996
1000203  6040  1090       3  956715518
1000204  6040  1091       1  956716541
1000205  6040  1094       5  956704887
1000206  6040   562       5  956704746
1000207  6040  1096       4  956715648
1000208  6040  1097       4  956715569

[1000209 rows x 4 columns]

In [34]:
# 查看不同性别对电影的评分
user_rating=pd.merge(user,rating,left_on="uid",right_on='uid')
user_rating.groupby(['mid','sex'])['rating'].mean()

mid   sex
1     F      4.187817
      M      4.130552
2     F      3.278409
      M      3.175238
3     F      3.073529
      M      2.994152
4     F      2.976471
      M      2.482353
5     F      3.212963
      M      2.888298
6     F      3.682171
      M      3.909988
7     F      3.588235
      M      3.267717
8     F      3.357143
      M      2.775000
9     F      2.100000
      M      2.717391
10    F      3.470149
      M      3.553050
11    F      3.923483
      M      3.718654
12    F      2.892857
      M      2.250000
13    F      3.642857
      M      3.112676
14    F      3.750000
      M      3.496000
15    F      3.200000
      M      2.341270
               ...
3938  F      1.000000
      M      2.136364
3939  F      1.000000
      M      2.190476
3940  F      1.000000
      M      2.000000
3941  F      1.400000
      M      2.235294
3942  F      1.000000
      M      1.956522
3943  F      3.375000
      M      2.944444
3944  F      2.800000
      M      1.250000
3945  F      1.777778
      M      1.411765
3946  F      2.307692
      M      2.252874
3947  F      3.400000
      M      3.480000
3948  F      3.619048
      M      3.641838
3949  F      3.950000
      M      4.174107
3950  F      3.600000
      M      3.681818
3951  F      3.705882
      M      4.043478
3952  F      3.761905
      M      3.787986
Name: rating, Length: 7152, dtype: float64

In [35]:
# 不同性别差异最大的电影  var()求方差
mid=user_rating.groupby(['mid','sex'])['rating'].mean().var(level=0).sort_values(ascending=False).head(1).index.values[0]
movie[movie['mid']==mid]

     mid                                       title             Genres
675  682  Tigrero: A Film That Was Never Made (1994)  Documentary|Drama

In [41]:
# 查找出热门电影  热度榜单
movie_rating=pd.merge(movie,rating,left_on='mid',right_on='mid')
movie_rating
# rating['mid'].value_counts()
hot_rank=movie_rating.groupby('title')['title'].count().sort_values(ascending=False)

In [42]:
# 每部电影的评分（平均分）  高分榜单
rating_rank=movie_rating.groupby('title')['rating'].mean().sort_values(ascending=False)

In [46]:
# 前十大热门电影的评分
rating_rank.loc[hot_rank.head(10).index.values]

title
American Beauty (1999)                                   4.317386
Star Wars: Episode IV - A New Hope (1977)                4.453694
Star Wars: Episode V - The Empire Strikes Back (1980)    4.292977
Star Wars: Episode VI - Return of the Jedi (1983)        4.022893
Jurassic Park (1993)                                     3.763847
Saving Private Ryan (1998)                               4.337354
Terminator 2: Judgment Day (1991)                        4.058513
Matrix, The (1999)                                       4.315830
Back to the Future (1985)                                3.990321
Silence of the Lambs, The (1991)                         4.351823
Name: rating, dtype: float64

In [ ]:
ra